# Environment variables
.env
*/.env
*.local

# Node modules
node_modules/
dist/

# Python virtual env & cache
venv/
__pycache__/
*.pyc

# Local project documents to ignore
*.pdf
*.md
!README.md

# Utility Scripts
convert_pdf.py

# Firebase / OS files
.firebase/
.DS_Store
